<!-- Activities section -->
<section class="ftco-section ftco-no-pt ftco-no-pb">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-4 d-flex align-items-stretch">
					<div class="offer-deal text-center px-2 px-lg-5">
						<div class="img" id="activities_1"></div>
						<div class="text mt-4">
							<h3 class="mb-4">Visitas guiadas y excursiones</h3>
							<p class="mb-5"> Nuestros visitantes estarán acompañados por guias, que se encargaran de
								enseñar los atractivos de nuestra reserva. Los paisajes son dignos de recorrer a pie
								o a caballo para contemplar los contrastes de la naturaleza. </p>
							<p><a href="contact.html" class="btn btn-white px-4 py-3"> Consigue una reserva <span
										class="ion-ios-arrow-round-forward"></span></a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex align-items-stretch">
					<div class="offer-deal active text-center px-2 px-lg-5">
						<div class="img" id="activities_2"></div>
						<div class="text mt-4">
							<h3 class="mb-4">Alojamiento</h3>
							<p class="mb-5"> La empresa oferta varias opciones de hospedaje, todas ofrecen una especial
								cercanía a la naturaleza. Los visitantes pueden disfrutar de varias ofertas
								gastronómicas.
								Las instalaciones se destacan por una especial limpieza y cuidado del entorno. </p>
							<p><a href="contact.html" class="btn btn-white px-4 py-3"> Consigue una reserva <span
										class="ion-ios-arrow-round-forward"></span></a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex align-items-stretch">
					<div class="offer-deal text-center px-2 px-lg-5">
						<div class="img" id="activities_3"></div>
						<div class="text mt-4">
							<h3 class="mb-4">Actividades recreativas</h3>
							<p class="mb-5"> Entre las actividades que los clientes puden realizar en nuestras
								instalaciones
								se destaca las plantaciones de árboles, guiadas por los especialistas de la reserva.
								Esta actividad tiene como principal objetivo crear una mayor conciencia ambiental en los
								visitantes. </p>
							<p><a href="contact.html" class="btn btn-white px-4 py-3"> Consigue una reserva <span
										class="ion-ios-arrow-round-forward"></span></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<!-- END Activities section -->