{% load static %}
<!-- Beginning section  -->
<section id="bg_1"  class="hero-wrap js-fullheight" data-stellar-background-ratio="0.5" >
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
			<div class="col-md-10 ftco-animate text-center">
				<div class="icon">
					<span class="flaticon-growth"></span>
				</div>
				<h1>Reserva Ecológica Lomas de Banao</h1>
				<div class="row justify-content-center">
					<div class="col-md-7 mb-3">
						<p>Nuestra área presenta un alto grado de conservación, sobresaliendo la pluvisilva de
							montaña que,
							junto a los ecosistemas de vegetación de mogotes, albergan un gran número de especies
							endémicas.</p>
					</div>
				</div>

				<div class="row mb-5 mt-5 play d-flex justify-content-center">
					<div class="col-md-3 ftco-animate">
						<a href="{% static '/images/video_1.mp4' %}" class="popup-youtube video_popup">
							<span><img src="../static/images/029-multimedia.svg" alt=""></span> Intro Video</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- END Beginning section -->