<!-- Benefits section -->
<section class="ftco-section ftco-intro" id="benefits">
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-md-6">
					<div class="heading-section ftco-animate">
						<h2 class="mb-4 text-white font-weight-light">Beneficios del turismo de naturaleza y aventura
						</h2>
					</div>
					<p class="ftco-animate">
						El turismo de naturaleza es la actividad turística que se desarrolla sin alterar el equilibrio
						del medio ambiente promoviendo la conservación de la naturaleza y los ecosistemas existentes,
						realizando actividades recreativas de apreciación y conocimiento de la naturaleza a través de la
						interacción con la misma. Esto provee a las comunidades receptoras el medio para una mejora
						en la calidad de vida buscando incentivar un desarrollo sustentable.
						El turismo de aventura, busca generar adrenalina y representar un reto para los turistas.
						Contempla actividades como rappel, escalada
						y montañismo.</p>
					<ul class="mt-5 do-list">
						<li class="ftco-animate"><a href="#"><span class="ion-ios-checkmark-circle mr-3"></span>
								Tiene un impacto mínimo sobre el medioambiente.</a></li>
						<li class="ftco-animate"><a href="#"><span class="ion-ios-checkmark-circle mr-3"></span>
								Crea conciencia y respeto a la cultura local y el medioambiente.</a></li>
						<li class="ftco-animate"><a href="#"><span class="ion-ios-checkmark-circle mr-3"></span>
								Emplea y beneficia a las comunidades.</a></li>
						<li class="ftco-animate"><a href="#"><span class="ion-ios-checkmark-circle mr-3"></span>
								Educa a los visitantes acerca de los problemas políticos, sociales y ambientales
								locales.</a></li>
						<li class="ftco-animate"><a href="#"><span class="ion-ios-checkmark-circle mr-3"></span>
								Los visitantes se llevan nuevas ideas que influyen en su propio entorno.</a></li>
					</ul>
				</div>
			</div>
		</div>
</section>
<!-- END Benefits section -->