<!-- Bidding section -->
<section class="ftco-section bg-light" id="bidding">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h3 class="subheading">Tablas de precios</h3>
                <h2 class="mb-1">Ofertas especiales</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ftco-animate my-3">
                <div class="block-7">
                    <div class="text-center">
                        <h2 class="heading">Una semana</h2>
                        <span class="price"><sup>$</sup> <span class="number">449</span></span>
                        <span class="excerpt d-block">Disfrute de una semana</span>

                        <h3 class="heading-2 my-4">Se incluyen:</h3>

                        <ul class="pricing-text mb-5">
                            <li>Habitación para dos personas.</li>
                            <li>Desayunos, almuerzos y comidas.</li>
                            <li>4 excursiones y 4 visitas guiadas.</li>
                        </ul>

                        <a href="contact.html" class="btn btn-primary d-block px-2 py-4">Consigue una reserva</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate my-3">
                <div class="block-7">
                    <div class="text-center">
                        <h2 class="heading">Cuatro días</h2>
                        <span class="price"><sup>$</sup> <span class="number">200</span></span>
                        <span class="excerpt d-block">Disfrute de cuatro días</span>

                        <h3 class="heading-2 my-4">Se incluyen:</h3>

                        <ul class="pricing-text mb-5">
                            <li>Habitación para una personas.</li>
                            <li>Desayunos, almuerzos y comidas.</li>
                            <li>2 excursiones y 2 visitas guiadas.</li>
                        </ul>

                        <a href="contact.html" class="btn btn-primary d-block px-2 py-4">Consigue una reserva</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate my-3">
                <div class="block-7">
                    <div class="text-center">
                        <h2 class="heading">Dos días</h2>
                        <span class="price"><sup>$</sup> <span class="number">85</span></span>
                        <span class="excerpt d-block">Disfrute de dos días</span>

                        <h3 class="heading-2 my-4">Se incluyen:</h3>

                        <ul class="pricing-text mb-5">
                            <li>Habitación para una personas.</li>
                            <li>Desayunos, almuerzos y comidas.</li>
                            <li>1 excursión</li>
                        </ul>

                        <a href="contact.html" class="btn btn-primary d-block px-2 py-4">Consigue una reserva</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Bidding section -->