<!-- Protection section -->
<section class="ftco-section ftco-section-services bg-light">
		<div class="container-fluid px-md-5">
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="services text-center ftco-animate">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-bird-2"></span>
						</div>
						<div class="text mt-3 mr-5">
							<h3>Protección de aves</h3>
							<p>
								Hace más de una década comenzó el estudio de las poblaciones de cotorras y cateyes,
								disminuida por la falta de cavidades donde anidar, así como por la caza furtiva. Los
								seguimientos a la reproducción y alimentación de los ejemplares, además de la colocación
								en las palmas de nidos artificiales, han posibilitado un aumento de las aves. </p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="services text-center ftco-animate">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-plant"></span>
						</div>
						<div class="text mt-3 mr-5">
							<h3>Plantación de árboles</h3>
							<p>
								Está actividad es de vital importancia para nuestra reserva, ya que extender el área del
								bosque, proporcionará una gran cantidad de refugios para las diversas especies que se
								conservan en la reserva y además se incrementa la biomasa, lo que reducirá los niveles
								de CO2 atmosférico.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-4">
					<div class="services text-center ftco-animate">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-frame" style="font-size: 40px;"></span>
						</div>
						<div class="text mt-3">
							<h3>Talleres ambientales</h3>
							<p>
								Estos talleres están orientados fundamentalmente para crear una mayor conciencia
								ambiental sobre los visitantes y la comunidad, esto es logrado a través de diversas
								actividades que se realizan en nuestra reserva, como los concursos de conocimiento,
								donde los protagonistas son los pioneros de la localidad.
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
</section>
<!-- END Protection section -->