  {% load static %}
  <!-- Specialists -->
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <h3 class="subheading">Especialistas</h3>
          <h2 class="mb-1">Conozca nuestro equipo</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 d-flex">
          <div class="coach align-items-stretch">
            <div class="img" href="{% static '/images/trainer-1.jpg' %}" ></div>
            <div class="text bg-white p-4 ftco-animate">
              <span class="subheading">Director</span>
              <h3><a href="#">Elizabeth Nelson</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis temporibus ullam quis illum nulla
                debitis reprehenderit rerum inventore harum atque.</p>
              <ul class="ftco-social-media d-flex mt-4">
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span
                      class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span
                      class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span
                      class="icon-instagram"></span></a></li>
              </ul>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 d-flex">
          <div class="coach align-items-stretch">
            <div class="img" style="background-image: url(../images/trainer-2.jpg);"></div>
            <div class="text bg-white p-4 ftco-animate">
              <span class="subheading">Especialista</span>
              <h3><a href="#">Scarlett Torres</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, reprehenderit magni iusto incidunt
                ducimus perferendis ipsam. Nostrum dolor itaque accusantium?</p>
              <ul class="ftco-social-media d-flex mt-4">
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span
                      class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span
                      class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span
                      class="icon-instagram"></span></a></li>
              </ul>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 d-flex">
          <div class="coach align-items-stretch">
            <div class="img" style="background-image: url(../images/trainer-3.jpg);"></div>
            <div class="text bg-white p-4 ftco-animate">
              <span class="subheading">Guía turístico</span>
              <h3><a href="#">Victoria Wright</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nihil accusantium ducimus ut facere
                repellendus nobis minus impedit voluptas ratione?</p>
              <ul class="ftco-social-media d-flex mt-4">
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span
                      class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span
                      class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span
                      class="icon-instagram"></span></a></li>
              </ul>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 d-flex">
          <div class="coach align-items-stretch">
            <div class="img" style="background-image: url(../images/trainer-4.jpg);" ></div>
            <div class="text bg-white p-4 ftco-animate">
              <span class="subheading">Guía turístico</span>
              <h3><a href="#">Stella Perry</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, dicta ratione sapiente quasi reiciendis
                sint cupiditate nemo temporibus magnam iusto.</p>
              <ul class="ftco-social-media d-flex mt-4">
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span
                      class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span
                      class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span
                      class="icon-instagram"></span></a></li>
              </ul>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END Specialists -->