<!-- Testimony section -->
<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-10 heading-section ftco-animate text-center">
                <h3 class="subheading">Testimonios</h3>
                <h2 class="mb-1">Historias Positivas</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="text">
                                <div class="line pl-5">
                                    <p class="mb-4 pb-1">
                                        Muy impresionado con la belleza del sitio, me pareció muy
                                        bien como combinan el turismo y la protección de la naturaleza.
                                    </p>
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div id="person_1" class="user-img">
                                    </div>
                                    <div class="ml-4">
                                        <p class="name">Tom Cooper </p>
                                        <span class="position">Visitante</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="text">
                                <div class="line pl-5">
                                    <p class="mb-4 pb-1">
                                        Lomas de Banao ha sido uno de los mejores lugares que he visitado, me gustó
                                        mucho estar en total contacto la naturaleza.
                                    </p>
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div id="person_2" class="user-img">
                                    </div>
                                    <div class="ml-4">
                                        <p class="name">Floyd Weather</p>
                                        <span class="position">Visitante</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="text">
                                <div class="line pl-5">
                                    <p class="mb-4 pb-1">
                                        Sus ríos y cascadas me parecieron realmente hermosos, sobre todo la cascada
                                        "La Bella". Tuve la gran suerte de poder observar varias aves.
                                    </p>
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div id="person_3" class="user-img">
                                    </div>
                                    <div class="ml-4">
                                        <p class="name">James Dee</p>
                                        <span class="position">Visitante</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Testimony section -->